@font-face {
    font-family: 'Montserrat';
    src: url("../fonts/static/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'Montserrat_semibold';
    src: url("../fonts/static/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: 'Montserrat_bold';
    src: url("../fonts/static/Montserrat-Bold.ttf");
}

@font-face {
    font-family: 'Montserrat_medium';
    src: url("../fonts/static/Montserrat-Medium.ttf");
}

:root {
    --pink: #DFB8AF;
    --lite-black: #5B4E50;
    --black: #625856;
    --white: #F6F6F6;
    --lite-gray: #EDEDED;
    --swiper-theme-color: #F6F6F6;

}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    background: var(--pink);
    color: var(--black);
}

.fl {
    display: flex;
}

.fd-col {
    flex-direction: column;
}

.fw-w {
    flex-wrap: wrap;
}

.jc-c {
    justify-content: center;
}

.jc-sb {
    justify-content: space-between;
}

.jc-se {
    justify-content: space-evenly;
}

.ai-c {
    align-items: center;
}

.top {
    text-transform: uppercase;
    margin-bottom: 5em;
    margin-top: 15em;
    color: var(--white);
}

h1 {
    font-weight: 400;
    font-size: 8em;
    line-height: 9.563rem;
    letter-spacing: 0.8999rem;
}

h2 {
    font-size: 4.375em;
}

img {
    max-width: 100%;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    background: var(--black);
    width: 8.75%;
    border-radius: 10px;
    color: var(--white);
    height: 1.875em;
}


/*header*/
.page_header {
    margin-top: 0.3125em;
}

.header_body {
    width: 96.667%;
    background: var(--white);
    color: var(--black);
    padding: 0 1.6666667%;
    border-radius: 0.625rem;
}

nav {
    display: flex;
    width: 32.0833333%;
}

.navbar {
    width: 50%;
}

a {
    color: var(--lite-black);
}

/*Cover for Style*/
.cover {
    position: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    display: flex;
}

.cover_text {
    position: absolute;
}

.cover_text span {
    display: flex;
    font-size: 2em;
    width: 40%;
    height: 3.75em;
}

.btn-more {
    font-size: 1.25em;
    font-family: 'Montserrat', sans-serif;
    width: 17.5%;
    height: 2.5em;
    border-radius: 0.625rem;
    background: var(--lite-gray);
}

/*Characteristic for Style*/
.characteristic_card {
    position: relative;
    row-gap: 1.25em;
    width: 26.4166733%;
    height: 9.8125rem;
    border-radius: 1.25rem;
    background: #F6F6F6;
    padding: 2.625rem 2.8333333%;
}

.characteristic_icon {
    width: 3.4375rem;
    height: 3.4375rem;
}

.characteristic_card_header {
    font-family: 'Montserrat_semibold', sans-serif;
    font-size: 1.25em;
}

.characteristic_card_text {
    row-gap: 1.25em;
}

/*Swiper for Style*/
.gallery {
    position: relative;
    width: 100%;
    height: 36.0625em;
    border-radius: 1.25rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.50);
}

.swiper_btn {
    z-index: 3;
    position: absolute;
    object-fit: contain;
}

html {
    scroll-behavior: smooth;
}

.gallery_scrollbar {
    margin: 0 auto;
    width: 13.125rem;
    border-radius: 15px;
    height: 0.25em;
    position: absolute;
    z-index: 8;
    bottom: 0.5em;
}

.swiper-scrollbar {
    border-radius: 15px;
}

.gallery_slide img {
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.btn_prev {
    left: 0;
    background: url("../image/btn_prev.svg") no-repeat;
    width: 2.665em;
    height: 5.625em;
}

.btn_next {
    right: 0;
    background: url("../image/btn_next.svg") no-repeat;
    width: 2.665em;
    height: 5.625em;
}

.btn_sale {
    width: 11.75%;
}

nav {
    align-items: center;
    width: 70%;
    justify-content: space-between;
}


/*Reviews for Style*/
.card_review {
    position: relative;
    row-gap: 1.875em;
    width: 44.6%;
    height: 8.689rem;
    border-radius: 1.25rem;
    background: var(--white);
    padding: 2.5rem 1.25rem;
}

.card_review_top {
    font-family: 'Montserrat_medium', sans-serif;
    font-size: 1.25em;
}

.card_reviews {
    row-gap: 1.25em;
}

/*Footer for Style*/
footer {
    background: var(--black);
    padding: 0.24em 1.25em;
    border-radius: 0.94rem;

}

.copywriter {
    font-family: 'Montserrat_bold', sans-serif;
}

.top_footer {
    text-transform: uppercase;
    margin-bottom: 0.3125em;
    margin-top: 15em;
    color: var(--white);
}

.btn_up {
    position: fixed;
    right: 10px;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-90deg);
    width: 30px;
    height: 30px;
    background: var(--black);
    padding: 5px;
}

.header_burger {
    display: none;
}

@media screen and (max-width: 768px) {

    body.lock {
        overflow: hidden;
    }

    .navigation{
        display: none;
    }

    .header_body a{
        z-index: 8;
    }

    .header_burger {
        display: flex;
        align-items: center;
        position: relative;
        width: 1.4375em;
        height: 0.9375em;
        z-index: 8;
    }

    .header_burger span{
        position: absolute;
        background: var(--black);
        left: 0;
        width: 100%;
        height: 2px;
    }

    .header_burger:before,
    .header_burger:after{
        content: '';
        background-color: var(--black);
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }

    .header_burger:before{
        top: 0;
    }

    .header_burger:after{
        bottom: 0;
    }

    .navigation {
        display: flex;
        overflow: hidden;
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--white);
        transition: all 0.7s ease 0s;
        z-index: 5;
    }

    .navigation.active {
        top: 0;
        z-index: 5;
        flex-direction: column;
    }

    .btn_sale{
        width: 7em;
        top: 7em;
        position: relative;
    }

    nav{
        align-items: center;
        gap:1.5em;
        top: 5em;
        position: relative;
        justify-content: start;
    }

    .navbar{
        top: 5em;
        flex-direction: column;
        position: relative;
        align-items: center;
        gap: 2em;
    }

    .top {
        margin-top: 5em;
        margin-bottom: 2.5em;
    }

    .cover_text > h1 {
        line-height: 100%;
        letter-spacing: normal;
        font-size: 3em;
    }

    .cover_text > span {
        margin-top: 1.5em;
        line-height: 100%;
        font-size: 1.5em;
        width: 100%;
    }

    .btn-more {
        font-size: 1.125em;
        width: 40%;
    }

    h2 {
        font-size: 2.25em;
    }

    .characters_cards {
        flex-wrap: wrap;
    }

    .characteristic_card {
        width: 100%;
        border-radius: 0;
        border-bottom: 1px solid var(--lite-black);
    }

    .characteristic_card:last-child {
        border-bottom: 0;
    }

    .gallery {
        height: 13.5em;
    }

    .swiper_btn {
        height: 3em;
        background-size: contain;
    }

    .card_reviews {
        row-gap: 0;
    }

    .card_review {
        width: 100%;
        border-radius: 0;
        height: auto;
        row-gap: 0;
        border-bottom: 1px solid var(--lite-black);
    }

    .card_review:last-child {
        border-bottom: 0;
    }

    .top_footer {
        margin-top: 5em;
        width: auto;
        flex-wrap: wrap;
    }


}